

QToolButton {
    border: none;
    background: transparent;
}

QDockWidget {
    padding: 0px; 
    margin: 0px;
    color: rgb(126,127,129); 
    background: rgb(36,38,41); 
}

QDockWidget::title {
    background: rgb(37,38,41); 
    color: rgb(126,127,129); 
    text-align: center;
}


